name: go

on:
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    name: "Lint"
    steps:
      - name: "Checkout Repository"
        uses: actions/checkout@v6

      - name: "Setup Go"
        uses: actions/setup-go@v6
        with:
          go-version: "oldstable"

      - name: "Lint"
        continue-on-error: false
        uses: golangci/golangci-lint-action@v9
        with:
          # https://golangci-lint.run/usage/configuration/#command-line-options
          args: --timeout=5m --verbose
          cache-invalidation-interval: 30

  build:
    runs-on: ubuntu-latest
    needs: lint
    strategy:
      matrix:
        go: [ '1.24', '1.25' ]
        mongo: [ '7.0', '8.0' ]

    name: Go ${{ matrix.go }} with MongoDB ${{ matrix.mongo }}
    steps:
      - name: "Checkout Repository"
        uses: actions/checkout@v6

      - name: "Start MongoDB"
        uses: supercharge/mongodb-github-action@1.12.1
        with:
          mongodb-version: ${{ matrix.mongo }}

      - name: "Setup Go"
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}

      - name: "Go Test"
        run: |
          go version
          go test -v ./...
